
[V200R003C00]
#
 sysname R2
#
 board add 0/4 4GET 
 board add 0/6 4GET 
#
 snmp-agent local-engineid 800007DB03000000000000
 snmp-agent 
#
 clock timezone China-Standard-Time minus 08:00:00
#
portal local-server load flash:/portalpage.zip
#
 drop illegal-mac alarm
#
router id 2.2.2.2 
#
vlan batch 10
#
 wlan ac-global carrier id other ac id 0
#
 set cpu-usage threshold 80 restore 75
#
aaa 
 authentication-scheme default
 authorization-scheme default
 accounting-scheme default
 domain default 
 domain default_admin 
 local-user admin password cipher %$%$K8m.Nt84DZ}e#<0`8bmE3Uw}%$%$
 local-user admin service-type http
#
firewall zone Local
 priority 15
#
interface Vlanif10
#
interface GigabitEthernet0/0/0
 ip address 202.193.64.1 255.255.255.0 
#
interface GigabitEthernet0/0/1
 ip address 110.242.68.1 255.255.255.0 
#
interface GigabitEthernet0/0/2
 ip address 114.114.114.1 255.255.255.0 
#
interface GigabitEthernet4/0/0
 ip address 110.110.10.1 255.255.255.0 
#
interface GigabitEthernet4/0/1
 ip address 110.110.20.1 255.255.255.0 
#
interface GigabitEthernet4/0/2
#
interface GigabitEthernet4/0/3
#
interface GigabitEthernet6/0/0
#
interface GigabitEthernet6/0/1
#
interface GigabitEthernet6/0/2
#
interface GigabitEthernet6/0/3
#
interface NULL0
#
ospf 1 
 area 0.0.0.0 
  network 110.110.10.0 0.0.0.255 
  network 110.110.20.0 0.0.0.255 
  network 110.242.68.0 0.0.0.255 
  network 114.114.114.0 0.0.0.255 
  network 202.193.64.0 0.0.0.255 
#
user-interface con 0
 authentication-mode password
user-interface vty 0 4
user-interface vty 16 20
#
wlan ac
#
return